<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
	<li class="nav-welcome {% if page.current == 'welcome' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}kayakers-paradise">Welcome</a></li>
	<li class="nav-linkriver {% if page.current == 'Link River' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}link-river">Link River</a></li>
	<li class="nav-atkins {% if page.current == 'Atkins Cove' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}atkins">Atkins Cove</a></li>
    <li class="nav-marble-river {% if page.current == 'Marble River' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}marble-river">Marble River</a></li>
    <li class="nav-frigon-islands {% if page.current == 'Frigon Islands' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}frigon-islands">Frigon Islands</a></li>
    <li class="nav-varney-bay {% if page.current == 'Varney Bay' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}varney-bay">Varney Bay</a></li>
    <li class="nav-gooding-cove {% if page.current == 'Gooding Cove' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}gooding-cove">Gooding Cove</a></li>
    <li class="nav-whale-sitting {% if page.current == 'Whale Sitting' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}whale-sitting">Whale Sitting</a></li>
    <li class="nav-rupert-inlet {% if page.current == 'A Rupert Inlet Snippet' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}a-rupert-inlet-snippet">A Rupert Inlet Snippet</a></li>
    <li class="nav-startfish-party {% if page.current == 'Starfish Party' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}starfish-party">Starfish Party</a></li>
    <li class="nav-storeys-beach {% if page.current == 'Storeys Beach' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}storeys-beach">Storeys Beach</a></li>
	<li class="nav-Huson-Caves {% if page.current == 'Huson Caves' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}Huson-Caves">Huson Caves</a></li>
	<li class="nav-drake-island-quatsino {% if page.current == 'Drake Island Quatsino' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}drake-island-quatsino">Drake Island and Quatsino</a></li>
<li class="nav-schoen-lake {% if page.current == 'Schoen Lake' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}schoen-lake">Schoen Lake</a></li>
<li class="nav-side-bay {% if page.current == 'Side Bay' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}side-bay">Side Bay</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}rss.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
